	    					<div class="col-md-4">
	    						<div class="card card-profile">
	    							<div class="card-avatar">
	    								<a href="#">
	    									<img class="img" src="{{this.thumbnail}}" />
	    								</a>
	    							</div>
	    								<a href="#" class="btn btn-just-icon btn-warning btn-simple">

	    									{{{this.ratingValue}}}
<!-- 	    									<i class="fa fa-star"></i>
	    									<i class="fa fa-star"></i>
	    									<i class="fa fa-star"></i>
	    									<i class="fa fa-star"></i>
	    									<i class="fa fa-star"></i> -->
	    								</a>
	    							<div class="card-content">
	    								<h4 class="card-title">{{this.name}}</h4>
	    								<h6 class="category text-gray">{{this.category}}</h6>
	    								<p class="card-description">
	    									{{this.channelDescription}}
	    								</p>
	    								<a href="#" class="btn btn-info btn-default">Select</a>
	    								<a href="#" class="btn btn-danger btn-default"><i class="material-icons">add </i>Review</a>
	    							</div>
	    						</div>
	    					</div>
